body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  min-height: 450px;
  background: radial-gradient(circle, darken(dodgerblue, 10%), #1f4f96, #1b2949, #000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heart {
	font-size: 150px;
	color: #e00;
	animation: beat .25s infinite alternate;
  transform-origin: center;
  
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.4); }
}

.textH { 
  color: darken(#fff, 4%);
  transform-style: preserve-3d;
  text-shadow: 15px 5 5px darken(dodgerblue,35%),
               5px 5px 15px darken(dodgerblue,40%),
               0 5px 5px darken(dodgerblue,35%);
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 60px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  margin-left: 50px;
  text-align: left;
}

.subText {
  color: darken(#fff, 4%);
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}

.diagnosis {
  color: darken(#fff, 4%);
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1b2949
}

.possibleIllness {
  color: darken(#fff, 4%);
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1b2949
}

.illnessPatient {
  color: darken(#fff, 4%);
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: #0A79DF
}